<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--调用database.properties文件-->
    <properties resource="application.properties"></properties>
    <!--选择log4j日志存储文件-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
        </plugin>
    </plugins>
<!--
    &lt;!&ndash;类型别名&ndash;&gt;
    <typeAliases>
        <typeAlias alias="Tuser" type="cn.jdbc.entity.Tuser"></typeAlias>
    </typeAliases>
-->
</configuration>

